# egg-example
/framework/egg-example/node_modules/
/framework/egg-example/logs/logs/**/*.logs
/framework/egg-example/run/

# manaul-egg-template
/framework/manaul-egg-template/node_modules/
/framework/manaul-egg-template/logs/**/*.logs
/framework/manaul-egg-template/run/

# examples
examples/

# .gitignore
..gitignore.un~
.gitignore~

/framework/manaul-egg-template/logs
